{{ with site.Data.conditionals }}
<div id="conditionals" 
     x-data="{ highlight: false }" 
     @conditionals-focus.window="() => {
         highlight = false;
         $nextTick(() => { highlight = true });
     }">
    {{ range .keys }}
        <div x-data="{
                key: '{{.key}}',
                values: {{.values | jsonify | htmlUnescape}},
                selected: 'all'
            }"
            x-init="
                $store.conditionals.register(key, values);
                {{- with .default -}}
                    $store.conditionals.default(key, '{{ . }}');
                {{- end -}}
                selected = $store.conditionals.selected(key);"
            x-effect="
                selected = $store.conditionals.selected(key);
            ">
            <div>
                <p class="conditionals"
                   :class="{ 'highlight': highlight }">
                    Showing docs for
                    <span class="conditionals_select">
                        <select 
                            x-model="selected"
                            @change="$store.conditionals.select(key, selected)"
                            >
                            <option value="all" :selected="selected === 'all'">All {{.plural}}</option>
                            <template x-for="value in $store.conditionals.all(key)">
                                <option x-text="value" :selected="selected === value"></option>
                            </template>
                        </select>
                    </span>
                    <a class="conditionals_direct_link" :href="`?{{.key}}=${selected}`">Direct link</a>
                </p>
            </div>
        </div>
    {{ end }}
</div>
{{ end }}