<div class="header" x-data="{ isOpen: false }">
    <nav class="row"
         aria-label="Project Navigation">
        <a href="/">
            <img class="logo" src="{{ site.Data.meta.logo_image }}" alt="{{ site.Data.meta.project_name }} Logo">
        </a>
        <ul>
            {{ range site.Data.meta.external_links }}
            <li>
                <a target="_blank" href="{{ .url }}">
                    {{ with .version }}
                    {{ . }}
                    {{ end }}
                    <img class="external-links" src="{{ .icon_path }}" alt="{{ site.Data.meta.project_name }} on {{ .title }}">
                </a>
            </li>
            {{ end }}
            <li class="ham">
                <button :aria-expanded="isOpen"
                        aria-controls="docnav-inner"
                        @click="isOpen = !isOpen" x-cloak>
                    <p>{{ site.Data.meta.side_nav_title }} Menu</p>
                    <span></span>
               </button>
            </li>
        </ul>
    </nav>

    <nav class="docnav-mob"
        aria-label="{{ site.Data.meta.side_nav_title }} Navigation"
        :aria-expanded="isOpen">
        <div id="docnav-inner" class="docnav-inner" :hidden="!isOpen" x-cloak>
            {{ partial "docnav-list.html" . }}
        </div>
    </nav>
</div>