<div 
    x-data="{ 
        key: '{{ .Get "key" }}',
        value: '{{ .Get "value" }}',
        selected: 'all'
    }"
    x-show="
        () => {
            selected = $store.conditionals.selected(key);
            return selected === value || selected === 'all';
        }
    "
    :class="{
        'conditionals_showing_all': selected === 'all'
    }"
    class="conditional"
>
<a href="#conditionals" 
   class="conditionals_label" 
   x-show="selected === 'all'" 
   x-text="value"
   @click="$dispatch('conditionals-focus')"></a>
{{ .Inner | .Page.RenderString (dict "display" "block") }}
</div>
