{{ $placeholderChar := ">" }}
{{ with .Get "char" }}
    {{ $placeholderChar = . }}
{{ end }}

{{ $inputLines := split .Inner "\n" }}
{{ $outputLines := slice }}

<h4>test inputlines: {{$inputLines | jsonify }}</h4>

{{ range $lineNumber, $line := $inputLines }}
    <h4>line number: {{$lineNumber}}</h4>
    <h4>line: {{$line}}</h4>
    {{ $prevLineChars := split (default (index $inputLines (sub $lineNumber 1)) "") "" }}
    <h4>line prevLineChars: {{$prevLineChars}}</h4>
    {{ $nextLineChars := split (default (index $inputLines (add $lineNumber 1)) "") "" }}
    <h4>line nextLineChars: {{$nextLineChars}}</h4>
    {{ $currentLineChars := split $line "" }}
    <h4>line currentLineChars: {{$currentLineChars}}</h4>


    {{ $thisLine := slice }}
    {{ range $charNumber, $char := $currentLineChars }}
        {{ if eq $char $placeholderChar }}
            
            {{ $lineAbove := eq (index $prevLineChars $charNumber) $placeholderChar }}
            {{ $lineBelow := eq (index $nextLineChars $charNumber) $placeholderChar }}
            {{ $lineRight := eq (index $currentLineChars (add $charNumber 1)) $placeholderChar }}
            {{ $lineLeft := eq (index $currentLineChars (sub $charNumber 1)) $placeholderChar }}

            {{ $char := "└" }}
            {{ if $lineLeft }}
                {{ $char = "─" }}
            {{ else if and $lineBelow $lineRight }}
                {{ $char = "├" }}
            {{ else if and $lineBelow }}
                {{ $char = "│" }}
            {{ end }}

            {{ $thisLine = append $char $thisLine }}
        {{ else }}
            {{ $thisLine = append $char $thisLine }}
        {{ end }}
    {{ end }}

    {{ $outputLines = append (delimit $thisLine "") $outputLines }}
{{ end }}

{{ $codeBlock := (printf "```text%s\n```" (delimit $outputLines "\n")) }}
<h4>test: {{ $codeBlock | jsonify }}</h4>
{{ partial "diffcode.html" $codeBlock }}
